.ipynb_checkpoints
.vscode
AllDatasets
pos_caching.pkl
vocab.txt
.DS_Store
models
Keys
simpleNNmodelsPT
FineTuneModels/cache
*.pyc
*.cpython-311.pyc
NewOfficialDictionaryHere/
NewProducedDicts/
predictions.pickle
*.pptx
*.pyc
output/
log/
*.config
*.pt
tmp_trainer
.env
arrays/
arraysEng/
misspellings_dict.pickle
spelling_errors_keys.pickle
spelling_errors_values.pickle