.ipynb_checkpoints
.vscode
Datasets
pos_caching.pkl
vocab.txt
.DS_Store
models
Keys
simpleNNmodelsPT
FineTuneModels/cache
*.pyc
*.cpython-311.pyc
NewOfficialDictionaryHere/
NewProducedDicts/
predictions.pickle
*.pptx
*.pyc
output/